.Name{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        
    
}
.Address{
            text-align: center;
        font-weight: bold;
        
}